<html xmlns:th="http://www.thymeleaf.org">
<!--내비게이션 바 공통 템플릿-->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <!--'SBB'를 클릭하면 메인 페이지("/")로 이동하도록 설정-->
        <a class="navbar-brand" href="/">SBB</a>
        <!-- data-bs-toggle="collapse" : 부트스트랩 속성, 내비게이션 축소 및 확장
           data-bs-target : 토글 될 대상(축소/확장 대상) 요소 지정 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
           data-bs-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false"
           aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--화면 크기에 따라 내비게이션 바의 메뉴 노출을 관리 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--네비게이션 바의 메뉴 오른쪽과 왼쪽 여백 지정-->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!--'로그인' 텍스트 표시, 이를 클릭하여 이동할 페이지 설정-->
                    <a class="nav-link" href="#">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/signup}">회원 가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>