<html xmlns:th="http://www.tymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"> <!--레이아웃으로 사용할 부모템플릿 지정(layout.html)-->
<!-- layout.html을 상속 받았으므로 개별 css link 제거
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
-->
<!--layout.html의 th:block에 들어갈 내용 -->
<div layout:fragment="content" class = "container my-3">
<table class = "table">
    <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
    <!--Model 객체의 questionList에 저장된 데이터를 하나씩 꺼내
        question 변수에 대입한 후 questionList 개수 만큼 반복하여 출력-->
        <tr th:each="question, loop : ${questionList}">
            <!--loop.count : questionList의 항목을 th:each로 반복할 때 현재의 순서를 나타냄-->
            <td th:text="${loop.count}"></td>
            <!--question 객체의 subject 출력-->
            <!--<td th:text="${question.subject}"></td> -->
            <td>
                <!-- @{~} : URL 입력식 -->
                <!--문자열과 자바 객체의 값을 연결할 때에는 '| |' 로 감싸줘야 함-->
                <!--링크 URL : /question/detail/해당 질문의 id 값-->
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}"></a>
            </td>
            <!--question 객체의 createDate 출력-->
            <!--#temporal.format(날짜 객체, 날짜 포맷) : 타임리프 날짜형식-->
            <td th:text="${#temporals.format(question.createDate,
            'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
</table>
</div>
</html>