<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"> <!--레이아웃으로 사용할 부모템플릿 지정(layout.html)--><link rel = "stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

<div layout:fragment="content" class = "container my-3">



    <!--질문-->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class = "card-body">
            <!--style - "white-space: pre=line;" 사용자가 입력한대로 줄바꿈이 적용-->
            <div class = "card-text" style="white-space: pre-line;"
                 th:text="${question.content}"></div>
            <div class="d-flex justify-content-end">

                <!--질문의 수정 일시 추가-->
                <div th:if="${question.modifyDate != null}" class="badge bg-light
                    text-dark p-2 text-start mx-3">
                     <div class="mb-2">modified at</div>
                     <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>

                <!--질문의 작성일시 -->
                <div class="badge bg-light text-dark p-2 text-start">
                        <!--글쓴이가 존재하면 글쓴이를 표시-->
                        <div class="mb-2">
                            <span th:if="${question.author !=null}"
                                  th:text="${question.author.username}"></span>
                        </div>
                       <div th:text="${#temporals.format(question.createDate,
                            'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <!--질문 id별 수정 링크, 로그인 상태일 때
                     질문자가 존재하고, 로그인한 ID와 질문자 ID가 일치한다면 수정 출력
                     #authentication.getPrincipal() : 타임리프에서 스프링 시큐리티와 함께 사용하는 표현식 -->
            <div class="my-3">
                    <!--추천 버튼-->
                    <!--javascript:void(0) : 클릭 시 아무동작도 하지 않음
                        실제 주소는 th:data-uri에 의해 설정 -> 클릭 시 메시지 팝업창 뜨도록
                        [추천]버튼을 수정 버튼 왼쪽에 추가 -->
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/question/vote/${question.id}|}">
                        추천
                        <!--lists.size에 question.voter를 사용하여 추천 수 노출-->
                    <span class="badge rounded-pill bg-success"
                       th:text="${#lists.size(question.voter)}"></span>
                    </a>

                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.
                        getPrincipal().getUsername() == question.author.username}"
                        th:text="수정"></a>

                <!--삭제버튼 추가-->
                <!--삭제 버튼을 클릭하면 자바스크립트 코드가 실행 -->
                <!--삭제를 실행할 URL을 얻기 위해 th:data-uri 속성 추가
                    삭제 버튼을 클릭하는 이벤트를 확인하기 위해 class 속성에 delete 항목 추가
                    -> 삭제 URL을 직접 사용하지 않고 이 방법을 사용한 이유:
                            삭제버튼 클릭 시 '정말로 삭제하시겠습니까? 메시지 출력 위해 -->
                <a href="javascript:void(0);"
                   th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and
                   #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>

            </div>
        </div>
    </div>




        <!--답변 개수 표시-->
        <!--#lists.size: 타임리프에서 제공하는 기능으로 해당 객체의 길이 반환
                -> answerList의 데이터 개수 반환 -->
        <h5 class = "border-bottom my-3 py-2"
            th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

        <!--답변 반복 시작-->
        <div class = "card my-3" th:each="answer : ${question.answerList}">
            <div class="card-body">
                <div class="card-text" style="white=space: pre-line;"
                     th:text="${answer.content}">
                </div>
                <div class="d-flex justify-content-end">

                    <!--답변의 수정 일시 추가-->
                    <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>

                    <!--답변의 작성 일시-->
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <!--글쓴이가 있으면 글쓴이 표시-->
                            <span th:if="${answer.author !=null}"
                                  th:text="${answer.author.username}">
                            </span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate,
                            'yyyy-MM-dd HH:mm')}">
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <!--클릭해도 아무 작동도 하지 않음
                        uri에 의해 주소 결정 -->
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/answer/vote/${answer.id}|}">
                        추천
                        <!--추천인 수 노출-->
                        <span class="badge rounded-pill bg-success"
                              th:text="${#lists.size(answer.voter)}"></span>
                    </a>

                    <!--답변 수정과 삭제 -->
                    <!--답변 작성자와 로그인 사용자가 일치할 경우 '수정'버튼 노출 -->
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>

                    <!--답변 삭제-->
                    <!--삭제 버튼을 누르면 자바스크립트에 의해 data-uri속성에 설정한 url이 실행 -->
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.
                        getPrincipal().getUsername() == answer.author.username}"
                        th:text="삭제"></a>
                </div>
            </div>
        </div>

    <!--답변 반복 끝-->


    <!--답변 등록 창과 등록 버튼 생성-->
    <!--답변 등록시 URL : /answer/create/질문데이터 번호-->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}"| method="post"
        class="my-3">
        <!--
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        -->
        <!--공통 에러 템플릿으로 대체 th:replace-->
        <div th:replace="~{form_errors :: formErrorsFragment}">
        </div>

        <!--답변 입력 칸 - 미 로그인 시 입력불가
            로그인 상태 체크
            sec:authorize="isAnonymous()" - 현재 로그아웃 상태
            sec:authorize="isAuthentixated()" - 현재 로그인 상태 -->
        <textarea sec:authorize="isAnonymous()" disabled
                  th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()"
                  th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변 등록" class="btn btn-primary my-2">
    </form>
</div>



<!--자바스크립트 - 삭제기능 / 추천기능 -->
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
                };
        });
    });

    //[추천]버튼에 recommend 클래스가 적용되어 있으므로 [추천]버튼을 클릭하면 '정말로 추천하시겠습니까?'
    //라는 메시지가 담긴 팝업창이 뜨고, [확인]을 누르면 data-uri 속성에 정의한 URL이 호출
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

</script>
</html>