<html xmlns:th="http://www.tymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"> <!--레이아웃으로 사용할 부모템플릿 지정(layout.html)-->
<!-- layout.html을 상속 받았으므로 개별 css link 제거
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
-->
<!--layout.html의 th:block에 들어갈 내용 -->
<div layout:fragment="content" class = "container my-3">
<table class = "table">
    <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
    <!--Model 객체의 questionList에 저장된 데이터를 하나씩 꺼내
        question 변수에 대입한 후 questionList 개수 만큼 반복하여 출력
        -> 컨트롤러 model 객체에 questionList를 paging으로 변경하였으므로  ${questionList}를 ${paging}으로 변경 -->
        <tr th:each="question, loop : ${paging}">
            <!--loop.count : questionList의 항목을 th:each로 반복할 때 현재의 순서를 나타냄-->
            <td th:text="${loop.count}"></td>
            <!--question 객체의 subject 출력-->
            <!--<td th:text="${question.subject}"></td> -->
            <td>
                <!-- @{~} : URL 입력식 -->
                <!--문자열과 자바 객체의 값을 연결할 때에는 '| |' 로 감싸줘야 함-->
                <!--링크 URL : /question/detail/해당 질문의 id 값-->
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}"></a>
            </td>
            <!--question 객체의 createDate 출력-->
            <!--#temporal.format(날짜 객체, 날짜 포맷) : 타임리프 날짜형식-->
            <td th:text="${#temporals.format(question.createDate,
            'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
</table>
    <!--페이징 처리 시작-->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!--이전 페이지가 없을 경우 '이전'링크 비활성화 -->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <!--전체 페이지 수 만큼 반복하면서 이전, 다음 링크 생성, 요청 페이지가 현재 페이지와 같을 경우 페이지 링크 파란색 표시-->
            <!--#numbers.sequence(시작번호, 끝번호) : 시작 번호부터 끝 번호까지 정해진 범위만큼 반복(타임리프 기능)-->
            <!--if문: 페이지 표시 제한 기능을 구현, 현재 페이지 기준으로 좌우 5개씩 페이지 번호 표시
                반복문 내에 표시되는 페이지가 현재 페이지를 의미하는 paging.number보다 5만큼 작거나 큰 경우에만 표시 -->
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page==paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link"
                th:href="@{|?page=${page}|}"></a>
            </li>
            <!--다음 페이지가 없을 경우 '다음' 링크 비활성화 -->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class = "page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>

        </ul>
    </div>
    <!--페이징 처리 끝-->

    <!--질문 등록 버튼 생성-->
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>